* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}
 
.cursor {
  width: 30px;
  height: 30px;
  background-color:rgba(250, 128, 114, 0.774);
  position: absolute;
  border-radius: 50%;
  border: 2px solid #fa8072;
  transform: translate(-50%,-50%);
}

body{
  cursor: url('img/jonas.png'),auto;
  width: 100%;
  height: 100vh;
}

p:hover{
  cursor: url('img/dannie.png'),auto;
}